.page {
  background: url("/images/starsky.jpeg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  background: url("/images/ocean_2.jpg");
  margin: 45px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 15px;
}

.header {
  background: url("/images/metal-pattern-texture-1.jpg");
  display: flex;
  flex-grow: 1;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
}

.containerBoard {
  background: url("/images/Background_Beach_Sand_2.jpg");
  display: flex;
  flex-grow: 3;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px;
}

.footer {
  background: url("/images/metal-pattern-texture-1.jpg");
  display: flex;
  flex-grow: 1;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
}
